* {
  margin: 0;
  padding: 0;
}

.all {
  justify-items: center;
  background-color: darkgray;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  border: black solid 3px;
  padding: 10px
}

.content {
  margin-left: 20vw;
  display: flex;
  min-height: 100vh;
}

.pageTitle {
  height: 60px;
}

.container {
  border: black solid 3px;
  padding: 10px;
  width: 45vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  height: auto;
  margin: 10px;
  flex: 1;
}

.rightbar {
  border: black solid 3px;
  width: 25vw;
  padding: 10px;
}

.footerBar {
  height: 30px;
}